simulation:
    Ts: 4
    tSample: 1500
neuron:
    type:     SRMALPHA
    theta:    10
    tauSr:    5
    tauRef:   1
    scaleRef: 2
    tauRho:   1
    scaleRho: 1
training:
    error:
        type: NumSpikes
        tgtSpikeRegion: {start: 0, stop: 1500}
        tgtSpikeCount: {true: 180, false: 30}
path:
    root_dir:   examples/demo/datasets/DVSGesture/
